In [51]:
import pandas as pd

In [2]:
pd.reset_option('display.max_colwidth')
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

In [52]:


# 파일 경로에 맞게 수정하세요
test_with_predictions_path = "../denoised_results.csv" # 텍스트가 바뀐 후 파일 입력

# 파일 불러오기
test_with_predictions = pd.read_csv(test_with_predictions_path)

# text 칼럼의 길이를 계산하고, 결측치는 길이 0으로 계산
test_with_predictions['text_length'] = test_with_predictions['denoised_text'].apply(lambda x: len(x) if isinstance(x, str) else 0)

# Sort the DataFrame by the new column in ascending order
test_with_predictions_sorted = test_with_predictions.sort_values(by='text_length')

# 결과 확인
test_with_predictions_sorted

,ID,text,target,is_noise,denoised_text,text_length
406,ynat-v1_train_00720,김관n 與 연동형}L거\ 말 바!U…l통m이 나Z야,2,1,NaN,0
1212,ynat-v1_train_02105,"^r^[P홀w2019년H'v요?서트vYp…세,#uNs[cJ",0,1,2,1
269,ynat-v1_train_00499,신:p(피U 로y의 시-,0,1,```,3
1347,ynat-v1_train_02362,kJ인 4 ~k3강원도P$문,2,1,```,3
1236,ynat-v1_train_02162,"PC수""천안시의C*천안X장 $마 Q언Z균X2전 완n해야",2,1,---,3
...,...,...,...,...,...,...
1328,ynat-v1_train_02325,ix탄 2. 맨유b사우샘프0I꺾고 EFL컵 우승,1,1,이탈리아 대표 팀 맨체스터 유나이티드 사우샘슨 꺾고 잉글랜드 풋볼 리그컵 결승 진출,46
1460,ynat-v1_train_02585,Y성 갤fD워}:골K o디션 W6…@디 기$ND 탑재,5,1,젊은 세대 갤럽 여론조사: 코로나 시대 차세대 기술 관심 높아...데이터 네트워크 탑재,48
1568,ynat-v1_train_02742,;가 프리다a 사상 이해 안돼…벌@ =신 주멕시7J美대사,6,1,가이트하우스 미군 아시아태평양 사령관 사상 존중 안 돼...신흥국 방문 중 미국대사 발언,49
816,ynat-v1_train_01370,추워져q[눈· 내리고-기온ik,0,1,colder temperatures bring snow and freezing te...,56
1390,ynat-v1_train_02437,이스라엘v정보당국 ME스+인인 5S@[e러 _의로 1포,6,1,Israeli intelligence authorities reportedly de...,85

In [54]:
# 조건에 맞는 행(길이가 8 이하이거나 텍스트가 'missing title')을 필터링하여 저장
remaining_rows = test_with_predictions[(test_with_predictions['text_length'] <= 8) | (test_with_predictions['text'] == 'missing title')]

# 나머지 행은 별도의 DataFrame에 저장
filtered_rows = test_with_predictions.drop(remaining_rows.index).reset_index(drop=True)

print(len(remaining_rows))

remaining_rows

23

,ID,text,target,is_noise,denoised_text,text_length
91,ynat-v1_train_00147,도자기g작품_E상O%{$람객들,0,1,```,3
183,ynat-v1_train_00339,'용등급 낮은 소상z인에 연q69k 대출 M 터:다,5,1,```,3
269,ynat-v1_train_00499,신:p(피U 로y의 시-,0,1,```,3
383,ynat-v1_train_00679,;!21P안OoD3득점N대i발4후`-= 5{) 해l 6|승,1,1,```,3
406,ynat-v1_train_00720,김관n 與 연동형}L거\ 말 바!U…l통m이 나Z야,2,1,NaN,0
424,ynat-v1_train_00747,-E 국kO장단·2T대표)방E 평화#O길에 큰 w,2,1,---,3
671,ynat-v1_train_01122,한화>lnZS리테일QUL_Y드 시점\F립,5,1,---,3
707,ynat-v1_train_01183,[d숙/정상9iU0r해 w5%%넘QI선 안돼WiS해야,2,1,```,3
757,ynat-v1_train_01266,g제;vW 이슬람 #장Lp V격v W인Bh1M w망,6,1,---,3
823,ynat-v1_train_01377,게시판 KTx1등 bm숍 1과Ea^ 개d,3,1,```,3
859,ynat-v1_train_01450,체내 HHX줄[세]}변0]:상g로 본다…' O험으L 확인,4,1,```,3
894,ynat-v1_train_01520,고개O# 지방·저L득1 ]r …부a 굴Y o출 }l야,5,1,---,3
975,ynat-v1_train_01669,안종범/崔u딩 마사지# 단골손님 9:에 명백한 오보,3,1,```,3
1089,ynat-v1_train_01908,"+부제StZ 32개사 qe Ru 의무#M,s};제",5,1,---,3
1143,ynat-v1_train_01990,h은경 X울7HO대표 악기 기증W-i,0,1,---,3
1212,ynat-v1_train_02105,"^r^[P홀w2019년H'v요?서트vYp…세,#uNs[cJ",0,1,2,1
1236,ynat-v1_train_02162,"PC수""천안시의C*천안X장 $마 Q언Z균X2전 완n해야",2,1,---,3
1251,ynat-v1_train_02194,"만화3b 스kB의 0,",0,1,```,3
1329,ynat-v1_train_02327,국회@w|q선{& 영4b\I·5박 Vo 프레임 버9야,2,1,```,3
1347,ynat-v1_train_02362,kJ인 4 ~k3강원도P$문,2,1,```,3
1373,ynat-v1_train_02402,김학&U경Z일보 n임$편집국장,3,1,```,3
1382,ynat-v1_train_02420,한진칼 1천k00억H단기_입 )o…경X% 방어 Y수,5,1,```,3
1532,ynat-v1_train_02691,용역 사E장 -문한 v!호H차장,3,1,```,3

In [44]:
# test_df의 text 열 삭제
filtered_rows = filtered_rows.drop(columns=["text"])
remaining_rows = remaining_rows.drop(columns=["text"])

# denoised_text 열 이름을 text로 변경
filtered_rows = filtered_rows.rename(columns={"denoised_text": "text"})
remaining_rows = remaining_rows.rename(columns={"denoised_text": "text"})

filtered_rows

,ID,target,is_noise,text,text_length
0,ynat-v1_train_00000,4,1,정조대왕 파초선 미사리에서 KT 이용 기간 12분 동안 공개,33
1,ynat-v1_train_00001,3,1,한국당 대표 후보들로 구성된 한나라연합회 회장 송 후보,30
2,ynat-v1_train_00002,2,1,문재인 대통령 자주 통일 새 시대 열어나가야,24
3,ynat-v1_train_00004,6,1,미국 대선 앞두고 러시아 사찰 강화...미국 감시에도 불구,32
4,ynat-v1_train_00006,1,1,KBO 프로야구 광주 경기 우천 취소,20
...,...,...,...,...,...
1574,ynat-v1_train_02787,6,1,"1. 3인조 살인범 검거, 범인들은 전직 군인들",26
1575,ynat-v1_train_02788,0,1,남원 소식: 봄 학기 대학생 모집 안내,21
1576,ynat-v1_train_02789,2,1,"이낙연 총리, 4대 사회보험제도 완납 못해...남은 과제 많아",34
1577,ynat-v1_train_02792,1,1,손흥민 선수 몸값 상승세 지속...유럽 내 최고 수준 도달,32
1578,ynat-v1_train_02797,4,1,텔레그램 한달 무료 이용 등 아시아서 서비스 30분 단축...버전,36

In [45]:
filtered_rows = filtered_rows.drop(columns=["is_noise"])
remaining_rows = remaining_rows.drop(columns=["is_noise"])

filtered_rows = filtered_rows.drop(columns=["text_length"])
remaining_rows = remaining_rows.drop(columns=["text_length"])

                       ID  target                                  text
0     ynat-v1_train_00000       4     정조대왕 파초선 미사리에서 KT 이용 기간 12분 동안 공개
1     ynat-v1_train_00001       3        한국당 대표 후보들로 구성된 한나라연합회 회장 송 후보
2     ynat-v1_train_00002       2              문재인 대통령 자주 통일 새 시대 열어나가야
3     ynat-v1_train_00004       6      미국 대선 앞두고 러시아 사찰 강화...미국 감시에도 불구
4     ynat-v1_train_00006       1                  KBO 프로야구 광주 경기 우천 취소
...                   ...     ...                                   ...
1574  ynat-v1_train_02787       6            1. 3인조 살인범 검거, 범인들은 전직 군인들
1575  ynat-v1_train_02788       0                 남원 소식: 봄 학기 대학생 모집 안내
1576  ynat-v1_train_02789       2    이낙연 총리, 4대 사회보험제도 완납 못해...남은 과제 많아
1577  ynat-v1_train_02792       1      손흥민 선수 몸값 상승세 지속...유럽 내 최고 수준 도달
1578  ynat-v1_train_02797       4  텔레그램 한달 무료 이용 등 아시아서 서비스 30분 단축...버전

[1579 rows x 3 columns]

In [49]:
remaining_rows

                     ID  target text
0   ynat-v1_train_00147       0  ```
1   ynat-v1_train_00339       5  ```
2   ynat-v1_train_00499       0  ```
3   ynat-v1_train_00679       1  ```
4   ynat-v1_train_00720       2  NaN
5   ynat-v1_train_00747       2  ---
6   ynat-v1_train_01122       5  ---
7   ynat-v1_train_01183       2  ```
8   ynat-v1_train_01266       6  ---
9   ynat-v1_train_01377       3  ```
10  ynat-v1_train_01450       4  ```
11  ynat-v1_train_01520       5  ---
12  ynat-v1_train_01669       3  ```
13  ynat-v1_train_01908       5  ---
14  ynat-v1_train_01990       0  ---
15  ynat-v1_train_02105       0    2
16  ynat-v1_train_02162       2  ---
17  ynat-v1_train_02194       0  ```
18  ynat-v1_train_02327       2  ```
19  ynat-v1_train_02362       2  ```
20  ynat-v1_train_02402       3  ```
21  ynat-v1_train_02420       5  ```
22  ynat-v1_train_02691       3  ```

In [50]:
# 인덱스 재정렬 후 각각의 파일로 저장 (인덱스 없이)
filtered_file_path = "../denoised_results_wo_error.csv"
filtered_rows.reset_index(drop=True, inplace=True)
filtered_rows.to_csv(filtered_file_path, index=False)

# 인덱스 재정렬 후 각각의 파일로 저장 (인덱스 없이)
remaining_rows_file_path = "../denoised_results_error.csv"
remaining_rows.reset_index(drop=True, inplace=True)
remaining_rows.to_csv(remaining_rows_file_path, index=False)